node_modules/
dist/
build/
.cache/
.env*
.vite/
vite.config.*.timestamp-*
*.tsbuildinfo
*-debug.log*
logs/
*.log
.claude-replay.*
.tmp-*

coverage/

# Ignorar archivos autogenerados de PDO
docs/PDO/functions/
docs/PDO/interfaces/
docs/PDO/modules/
docs/PDO/types/
docs/PDO/variables/